CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
build
bin
/lib_board_support
/lib_i2c
/lib_i2s
/lib_sw_pll
/lib_xassert
